*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    overflow:hidden;
}


/*Model */

.sc{
    display: none;
}




/*SECTION SLIDE */

.section-slide{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden ;
}

.section-slide .slide{
    flex: 1;
    overflow: hidden;
}

.section-slide .slide-width{
    height: 100%;
    display: flex;
    transition: all ease .5s;
}

.section-slide .slide-item{
    width: 100%;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-slide .slide-item img{
    width: 100%;
    height: 100%;
}


/*Principal */

.principal{
    width: 100vw;
    min-height: 100vh;
    background-color: #0a2d38;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p-area{
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin:auto;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(12,15,23);
}

.p-area form{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.p-area form label{
    letter-spacing: 3px;
    font-weight: bold;
    color: #191919;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.p-area form input[type="file"]{
    margin-bottom: 20px;
}

.p-area form button{
    width: calc(100% - 80px);
  height: 35px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  outline: none;
  border:none;
  background-color: rgb(25, 39, 78);
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease .8s;
}

.p-area form button:hover{
    opacity: .8;
}
/*

*/



.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
}
.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
}

.slider--item img{
    width: 100%;
    height: 100%;
}
.slider--controls {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}